@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Scroll Bar Start */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #ff930c;
    /* border-radius: 5rem; */
}

/*  Scroll Bar End */

/* Header Section Start */

#nav {
    z-index: 1;
}

#nav .container .head .nav-list {
    font-size: 20px;
    text-transform: capitalize;
}

#nav .container .head .nav-list a {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    display: block;
    letter-spacing: 1px;
}

#nav .container .head .nav-list a:hover {
    color: #ff930c;
    transition: .5s all ease-in-out;
}

#nav .container .head .social-links {
    cursor: pointer;
}

#nav .container .head .social-links .fa {
    color: #fff;
    font-size: 20px;
}

#nav .container .head .social-links .fa:hover {
    color: #ff930c;
    transition: .5s all ease-in-out;
}

#nav .container .head .social-links .btn-orange {
    color: #fff;
    background-color: #ff930c;
}

#nav .container .head .social-links .menu .dropdown-menu {
    width: max-content;
}



/* Header Section End */

/* Hero Section Start */

#hero .top-banner video {
    width: 100%;
    height: 100%;
    z-index: -10;
    top: 0px;
    left: 0px;
    position: absolute;
    object-fit: cover;
}

#hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translatey(25%);
    gap: 20%;
    margin-top: 5%;
}

#hero .container .hero-content h1 {
    color: #E6840B;
    font-size: 55px;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

#hero .container .hero-content p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

#hero .container .hero-content .button1 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #ff930c;
    padding: 0.5em 1em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #fff;
    border: 1px solid #fff;
    margin-right: 10px;
}

#hero .container .hero-content .button1:hover {
    color: #ffffff;
    border: 1px solid #ff930c;
    background-color: #ff930c;
}

#hero .container .hero-content .button2 {
    display: inline-block;
    transition: all .2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    padding: 0.5em 1em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ff930c;
    border: 1px solid #ff930c;
}

#hero .container .hero-content .button2:hover {
    background-color: #fff;
    border-color: #fff;
    color: #ff930c;
}

#hero .container .hero-image .box1 {
    height: 35rem;
    width: 35rem;
    background-color: #FF930C;
    z-index: -5;
    position: absolute;
    top: -20%;
    right: -1%;
    transform: rotateZ(45deg);
    box-shadow: 5px 5px 20px #fdb40b;
}

#hero .container .hero-image .box2 {
    height: 30rem;
    width: 30rem;
    background-color: #fdb40b;
    z-index: -5;
    position: absolute;
    top: 5%;
    transform: rotateZ(45deg);
    box-shadow: 5px 5px 20px #000;
}

#hero .container .hero-image .box3 {
    height: 10rem;
    width: 10rem;
    background-color: #fdb40b;
    z-index: -5;
    position: absolute;
    top: -40%;
    transform: rotateZ(45deg);
    box-shadow: 5px 5px 30px #FF930C;
}

#hero .container .hero-image .box4 {
    height: 6rem;
    width: 6rem;
    background-color: #fdb40b;
    z-index: -5;
    position: absolute;
    top: 6%;
    right: -11%;
    transform: rotateZ(45deg);
    box-shadow: 5px 5px 30px #FF930C;
}



#hero .social-links p {
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

#hero .social-links p .fa {
    color: #fff;
    font-size: 20px;
    align-items: baseline;
}

#hero .social-links p .fa:hover {
    color: #ff930c;
    transition: .5s all ease-in-out;
}

#hero .social-links p .btn-orange {
    color: #fff;
    background-color: #ff930c;
}